---
import Layout from '@layouts/Layout.astro';
import Partners from '@components/Partners.astro';

if (!Astro.currentLocale) {
  return Astro.rewrite('/404');
}
---

<Layout title="Home">
	<main>
		<section>
			<h2 class="fancy">Protect Queer Youth</h2>
			<a class="button" href="/events/official-pride-party-2026">Pride Party Tickets</a>
		</section>
		<section class="box">
			<div>
				<span class="subtitle">Information</span>
				<h2>Zurich Pride won't have a Festival in 2026</h2>
			</div>
			<p>The Zurich Pride Festival won't take place this year.</p>
			<a href="/festival">Details</a>
		</section>
		<Partners />
	</main>
</Layout>