/* Order: @import, :root, *, Elements, Classes, IDs, Attributes, Selectors, Nesting Selectors, Pseudo-Elements, Pseudo-Classes, At-Rules */
/* Order: Position, Size, Shape, Color, Function */

:root {
    --main-font: var(--unbounded), ui-sans-serif, sans-serif;
	--mono-font: var(--lilex), ui-monospace, monospace;
	--icon-font: var(--material);

	--blue: #13c;
	--red: #c13;
	--yellow: #fc0;

	--black: #000;
	--white: #fff;
	--transparent: #0000;
	--grey: #f0f0f0;
	--black-alpha: #0003;
	--white-alpha: #fffa;
	--red-alpha: #c139;

	--primary: var(--red);
	--secondary: var(--blue);
	--content: var(--black);
	--background: var(--white-alpha);
	--accent: var(--yellow);

	--shadow: 0px 0px 1vh var(--black-alpha);
	--red-shadow: 0px 0px 4vh -1vh var(--red-alpha);

	--animation: 0.5s ease-in-out;

	overscroll-behavior: none;
	user-select: none;
	touch-action: pan-y;
}

@media (prefers-color-scheme: dark) {
	:root {
	}
}

body {
	font-family: var(--main-font);
	font-size: 2vh;
	color: var(--content);
	background: var(--grey);
	accent-color: var(--accent);
}

* {
	margin: unset;
	padding: unset;
	box-sizing: border-box;
	scrollbar-width: none;
	border: unset;
	outline: unset;
	appearance: unset;
	text-decoration: unset;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	background: none;
	line-height: 125%;
}

main {
	padding: 4vh 40vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4vh;
}

header {
	padding: 2vh 40vh;
	position: sticky;
	top: 0;
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: space-between;
	background: var(--white-alpha);
	box-shadow: var(--shadow);

	& nav {
		display: flex;
		gap: 2vh;
		align-items: center;
		/* font-size: 2vh; */
	}
}

footer {
	padding: 2vh 40vh;
	display: flex;
	justify-content: space-between;
	gap: 2vh;
	background: var(--black-alpha);

	& nav {
		display: flex;
		gap: 1vh;
		flex-direction: column;
		align-items: flex-end;
	}
}

section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5vh;

	& a {
		color: var(--red);
	}
}

div {
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 4vh;
	font-weight: 600;
}

h2 {
	font-size: 3.5vh;
	font-weight: 600;
}

h3 {
	font-size: 3.25vh;
	font-weight: 600;
}

h4 {
	font-size: 3vh;
	font-weight: 600;
}

h5 {
	font-size: 2.5vh;
	font-weight: 600;
}

h6 {
	font-size: 2vh;
	font-weight: 600;
}

p {
	font-weight: 300;
}

a {
	font-weight: 450;

	&:not([class]):hover, &:not([class]):focus-visible {
		text-decoration-line: underline;
		text-decoration-skip-ink: none;
		text-decoration-thickness: 2px;
		text-underline-offset: 2px;
	}
}

.logo {
	display: flex;
	align-items: center;

	& img {
		height: 6vh;
		margin-right: 2vh;
	}
}

.button {
	display: inline-flex;
	padding: 2vh;
	border-radius: 10vh;
	color: var(--white);
	background: var(--primary);

	&:hover {
		transform: scale(1.125);
		box-shadow: var(--red-shadow);
		transition: var(--animation);
	}
}

.box {
	padding: 4vh;
	flex-direction: column;
	align-items: baseline;
	box-shadow: var(--shadow);
	background: var(--background);
	border-radius: 2vh;
}

.subtitle {
	color: var(--red);
	font-weight: 600;
	text-transform: uppercase;
}

.fancy {
	text-align: center;
	font-size: 12vh;
	font-family: var(--modak);
	font-weight: normal;
	line-height: 90%;
}

.copyright {
	gap: 1vh;
	justify-content: space-between;
}

@media (max-aspect-ratio: 1.75) {
	button {
		display: unset;
	}

	main {
		padding: 4vh;
	}

	header {
		padding: 2vh;

		& nav {
			display: none;
		}
	}

	footer {
		padding: 2vh;
		flex-direction: column-reverse;

		& nav {
			align-items: flex-start;
		}
	}
}