---
---

<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="initial-scale=1, user-scalable=no, viewport-fit=cover" />

		<link rel="icon" href="/favicon.svg" />
		
		<title>404 // Zurich Pride</title>
		<base href="https://preview.zurichpride.ch" />
	</head>
	<body>
		<h2>Page Not Found</h2>
		<h2>Seite Nicht Gefunden</h2>
	</body>
</html>