---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="initial-scale=1, user-scalable=no, viewport-fit=cover" />

		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link rel="icon" href="/favicon.svg" />
		
		<title>404 // Zurich Pride</title>
		<base href="https://staging.zurichpride.ch" />
		<meta name="application-name" content="Zurich Pride" />
		<meta name="description" content="The Biggest Queer Event in Switzerland." />
		<meta name="keywords" content="Love, Queer, Zurich, Switzerland" />

		<meta property="og:url" content="https://staging.zurichpride.ch" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="404 // Zurich Pride" />
		<meta property="og:description" content="The Biggest Queer Event in Switzerland." />
		<meta property="og:image" content="https://zurichpride.ch/content/meta_image.png" />
	</head>
	<body>
		<Header />
		<main>
			<div class="container">
				<h2>Page Not Found</h2>
			</div>
		</main>
		<Footer />
	</body>
</html>