---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Page">
	<main>
		<section class="box">
			<h2>Protect Queer Youth</h2>
			<a class="button" href="/events/official-pride-party-2026">Pride Party Tickets</a>
		</section>
	</main>
</Layout>