---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<main>
		<section class="box">
			<h2>Protect Queer Youth</h2>
			<a class="button" href="/events/official-pride-party-2026">Pride Party Tickets</a>
		</section>
		<section class="box">
			<span class="subtitle">Information</span>
			<h2>Die Zurich Pride findet 2026 ohne Festival statt</h2>
			<p>Das Festival der Zurich Pride wird dieses Jahr nicht stattfinden. Wir nutzen freigewordene Zeit für eine strategische Neuausrichtung und kehren nächstes Jahr mit frischer Energie und neuen Ideen zurück. Die Demonstration ist von diesem Entscheid nicht betroffen. Unser herzlicher Dank gilt unseren Unterstützer:innen und Partner:innen, die die Zurich Pride in den vergangenen Jahren mitgetragen haben und uns hoffentlich verbunden bleiben. Wir sehen uns am 20. Juni zur Demo! Zusammen stehen wir laut und bunt für unsere Rechte ein!</p>
			<a href="/festival">Details</a>
		</section>
		<section>
			<div>
				<h2>Partners</h2>
			</div>
			<div>
				<h2>Supporters</h2>
			</div>
			<div>
				<h2>Allies</h2>
			</div>
		</section>
	</main>
</Layout>