---

---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="initial-scale=1, user-scalable=no, viewport-fit=cover" />

		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link rel="icon" href="/favicon.svg" />
		
		<title>Zurich Pride</title>
		<base href="https://staging.zurichpride.ch" />
		<meta name="application-name" content="Zurich Pride" />
		<meta name="description" content="The Biggest Queer Event in Switzerland." />
		<meta name="keywords" content="Love, Queer, Zurich, Switzerland" />

		<meta property="og:url" content="https://staging.zurichpride.ch" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Zurich Pride" />
		<meta property="og:description" content="The Biggest Queer Event in Switzerland." />
		<meta property="og:image" content="https://zurichpride.ch/content/meta_image.png" />
	</head>
	<body>
		<nav>
			<a href="/events">Events</a>
		</nav>
		<main>
			<div class="hero">
				<h1>Zurich Pride</h1>
			</div>
			<div class="container">
				<h2>Protect Queer Youth</h2>
				<a href="/events/official-pride-party-2026">Pride Party Tickets</a>
			</div>
		</main>
		<footer>
			<div>
				<p>Social Links</p>
				<a href="https://instagram.com/zurichpride">Instagram</a>
				<a href="https://tiktok.com/zurichpride">TikTok</a>
				<a href="https://youtube.com/@zurichpridefestival">YouTube</a>
			</div>
		</footer>
	</body>
</html>