---
import Logo from '../components/Logo.astro';

const year = new Date().getFullYear();
---

<footer>
	<div class="copyright">
		<Logo />
		<span>&copy; {year} Zurich Pride</span>
	</div>
	<nav>
		<h4>Social Links</h4>
		<a href="https://instagram.com/zurichpride" target="_blank">Instagram</a>
		<a href="https://tiktok.com/zurichpride" target="_blank">TikTok</a>
		<a href="https://youtube.com/@zurichpridefestival" target="_blank">YouTube</a>
	</nav>
	<nav>
		<h4>Information</h4>
		<a href="/about">About</a>
		<a href="/newsletter">Newsletter</a>
		<a href="/contact">Contact</a>
	</nav>
	<nav>
		<h4>Legal</h4>
		<a href="/imprint">Imprint</a>
		<a href="/privacy">Privacy</a>
		<a href="/cookies">Cookies</a>
	</nav>
</footer>