---

---

<Footer>
	<footer>
		<div>
			<h1>Zurich Pride</h1>
			<span>&copy; 2026 Zurich Pride</span>
		</div>
		<div>
			<h4>Social Links</h4>
			<a href="https://instagram.com/zurichpride">Instagram</a>
			<a href="https://tiktok.com/zurichpride">TikTok</a>
			<a href="https://youtube.com/@zurichpridefestival">YouTube</a>
		</div>
		<div>
			<h4>Information</h4>
			<a href="/about">About</a>
			<a href="/newsletter">Newsletter</a>
			<a href="/contact">Contact</a>
		</div>
		<div>
			<h4>Legal</h4>
			<a href="/imprint">Imprint</a>
			<a href="/privacy">Privacy</a>
			<a href="/cookies">Cookies</a>
		</div>
	</footer>
</Footer>