---
import Logo from '../components/Logo.astro';
---

<header>
	<Logo />
	<nav>
		<a href="/demonstration">Demonstration</a>
		<a href="/festival">Festival</a>
		<a href="/calender">Kalender</a>
		<a href="/community">Community</a>
		<a href="/verein">Verein</a>
	</nav>
</header>