---
import '../styles/styles.css';
import { Font } from "astro:assets";

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="initial-scale=1, user-scalable=no, viewport-fit=cover" />

		<link rel="icon" href="/favicon.svg" />
		
		<title>{title} // Zurich Pride</title>
		<meta name="application-name" content="Zurich Pride" />
		<meta name="description" content="The Biggest Queer Event in Switzerland." />
		<meta name="keywords" content="Love, Queer, Zurich, Switzerland" />

		<meta property="og:url" content="https://preview.zurichpride.ch" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{title} // Zurich Pride" />
		<meta property="og:description" content="The Biggest Queer Event in Switzerland." />
		<meta property="og:image" content="" />

		<Font cssVariable="--unbounded" preload />
		<Font cssVariable="--lilex" />
		<Font cssVariable="--fraunces" />
		<Font cssVariable="--oi" />
		<Font cssVariable="--modak" />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>